.card {
  width: 18rem;
  margin: 1rem;
}

.card img {
  width: 100%;
  height: auto; 
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: .5rem;
}

.card-text {
  font-size: 0.9rem;
}

.App {
  padding-bottom: 50px;
}

.component-background {
  background-image: url('../src/comps/photo/bg.jpg');
  flex-wrap: wrap;
  background-size: cover; 
  align-items: flex-start;
  position: relative;
  background-position: center; 
  color: #fff; 
  height: 100vh; 
  overflow: auto; 
  justify-content: center;
}
